/* Google Fonts : */
@import url('https://fonts.googleapis.com/css?family=Lato|Neuton');

body {
  background-image: url('bg.jpg');
  background-attachment: fixed;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Neuton', serif;
  font-size: 6em;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: mediumblue;
}

a:hover {
  color: blue;
}

a:active {
  color: red;
}

.placeholder {
  width: 90%;
  margin: 0 auto;
  line-height: 1.2;
  margin-top: 5vh;
}

/* Mobile Phones: */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .placeholder {
      margin-top: 2vh;
      line-height: 1.2;
    }

    h1 {
      font-size: 8em;
      margin-bottom: 0em;
      margin-top: 0.2em;
    }

    p {
      font-size: 1.1em;
    }

  }

/* Tablets: */
@media only screen
  and (min-device-width: 721px)
  and (max-device-width: 1025px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .placeholder {
      margin-top: 2vh;
      line-height: 1.2;
    }

    h1 {
      font-size: 8em;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    p {
      font-size: 1.8em;
      line-height: 1.2;
    }

  }
